body {
    text-align: center;
    font-size: larger;
    color: white;
}
#services {
    text-align: center;
    float: center;
    background: url(/"img/s_image.jpg");
}
#about {
    color: black;
}
#welcome {
    background: url("/img/h_img.jpg");
    text-align: center;
    float: center;
}
#comments {
    background-image: url("/img/c_image.jpg");
}
img {
    width: 300px;
    height: 200px;
}